@model StateManagmentApp.Models.Company

<div class="company-details">
    <h3>Company Details</h3>
    <p><strong>ID:</strong> @Model.CompanyId</p>
    <p><strong>Name:</strong> @Model.Name</p>
    <p><strong>Industry:</strong> @Model.Industry</p>
    <p><strong>Number of Employees:</strong> @Model.NumberOfEmployees</p>
    <p><strong>Location:</strong> @Model.Location</p>
</div>
